.progress-container {
    max-width: 300px;
    margin: 20px auto;
    text-align: center;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.ab-item {
    margin-bottom: 10px;
}

.progress-bar {
    background: #e0e0e0;
    border-radius: 5px;
    height: 15px;
    overflow: hidden;
}

.fill {
    height: 100%;
    background: #f36100;
    transition: width 1s;
}
